:root {
    --theme-1: #0e0e0e;
    --theme-1-dark: #080808;
    --theme-1-darkness: #090909;
    --theme-1-light: #1f1f1f;

    --theme-2: #0e0e0e;
    --theme-2-dark: #020202;
    --theme-2-darkness: #070707;
    --theme-2-light: #1f1f1f;

    --theme-3: #221c14;
    --theme-3-dark: #18140d;
    --theme-3-darkness: #1d1811;
    --theme-3-light: #352c20;

    --bg-color: var(--theme-1);
    --bg-color-dark: var(--theme-1-dark);
    --bg-color-darkness: var(--theme-1-darkness);
    --bg-color-light: var(--theme-1-light);
}

$bg-color: var(--bg-color);
$bg-color-darkness: var(--bg-color-darkness);
$bg-color-dark: var(--bg-color-dark);
$bg-color-light: var(--bg-color-light);

$red-color: oklch(44.4% 0.177 26.899);

.bg-color {
    background-color: $bg-color;
}

.bg-color-dark {
    background-color: $bg-color-dark;
}

.bg-color-darkness {
    background-color: $bg-color-darkness;
}

.bg-color-light {
    background-color: $bg-color-light;
}

.bg-color-hover:hover {
    background-color: $bg-color !important;
}

.bg-color-dark-hover:hover {
    background-color: $bg-color-dark !important;
}

.bg-color-darkness-hover:hover {
    background-color: $bg-color-darkness !important;
}

.bg-color-light-hover:hover {
    background-color: $bg-color-light !important;
}