:root {
    --bg-color-darkLight: #0e0e0e;
    --bg-color-darkness-darkLight: #090909;
    --bg-color-dark-darkLight: #0c0c0c;
    --bg-color-light-darkLight: #1f1f1f;

    --bg-color-dark: #070707;
    --bg-color-darkness-dark: #020202;
    --bg-color-dark-dark: #050505;
    --bg-color-light-dark: #1f1f1f;

    --bg-color-wood: #221c14;
    --bg-color-darkness-wood: #1d1811;
    --bg-color-dark-wood: #18140d;
    --bg-color-light-wood: #352c20;

    --bg-color: var(--bg-color-darkLight);
    --bg-color-darkness: var(--bg-color-darkness-darkLight);
    --bg-color-dark: var(--bg-color-dark-darkLight);
    --bg-color-light: var(--bg-color-light-darkLight);
}

$bg-color: var(--bg-color);
$bg-color-darkness: var(--bg-color-darkness);
$bg-color-dark: var(--bg-color-dark);
$bg-color-light: var(--bg-color-light);

$red-color: oklch(44.4% 0.177 26.899);

.bg-color {
    background-color: $bg-color;
}

.bg-color-dark {
    background-color: $bg-color-dark;
}

.bg-color-darkness {
    background-color: $bg-color-darkness;
}

.bg-color-light {
    background-color: $bg-color-light;
}

.bg-color-hover:hover {
    background-color: $bg-color !important;
}

.bg-color-dark-hover:hover {
    background-color: $bg-color-dark !important;
}

.bg-color-darkness-hover:hover {
    background-color: $bg-color-darkness !important;
}

.bg-color-light-hover:hover {
    background-color: $bg-color-light !important;
}